.blog-header-logo:hover{
	text-decoration:none;
}
.blog-header-logo{
	font-family:"PlayfairDisplay", Georgia, "Times New Roman", serif;
	font-size:2.25rem;
}
.blog-header{
	line-height:1;
	border-bottom:1px solid #e5e5e5;
}
.blog-footer{
padding: 2.5rem 0;
color: #999;
text-align: center;
/* background-color: #f9f9f9; */
background-color: black; 
border-top: .05rem solid #e5e5e5;
}

#bootstrap-overrides h1, #bootstrap-overrides h2, #bootstrap-overrides h3, #bootstrap-overrides h4, #bootstrap-overrides h5, #bootstrap-overrides h6{
	font-family:"PlayfairDisplay", Georgia, "Times New Roman", serif;
}
.blog-pagination {
	margin-bottom: 4rem;
}

.blog-pagination > .btn {
	border-radius: 2rem;
}

body {
  height: 100%;
}

.blog-post {
	margin-bottom: 4rem;
}

#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  flex: auto 0 auto;
}